研究/xuv_ir/figs/perturbation/sit1.png
研究/xuv_ir/figs/perturbation/2.1-2.2-10fs.png
研究/xuv_ir/figs/perturbation/2.1-2.2-10fs-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/non-re.png
研究/xuv_ir/figs/perturbation/non-re-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/non-re-per.png
研究/xuv_ir/figs/perturbation/non-re-per-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/sit2.png
研究/xuv_ir/figs/perturbation/sit3.png
研究/xuv_ir/figs/perturbation/sit4.png
研究/xuv_ir/figs/perturbation/sit4-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/sit5.png
研究/xuv_ir/figs/perturbation/sit5-NSConflict-honghuzi.png
研究/xuv_ir/figs/tdse-xuv+laser/0.png
研究/xuv_ir/figs/tdse-xuv+laser/0.25.png
研究/xuv_ir/figs/tdse-xuv+laser/1.png
研究/xuv_ir/figs/tdse-xuv+laser/1.5.png
研究/xuv_ir/figs/tdse-xuv+laser/1.6-1.66.png
研究/xuv_ir/figs/tdse-xuv+laser/1.70-1.76.png
研究/xuv_ir/figs/tdse-xuv+laser/2.5-2.7.png
研究/xuv_ir/figs/tdse-xuv+laser/eq-0.png
研究/xuv_ir/figs/tdse-xuv+laser/single.png
研究/xuv_ir/figs/tdse-xuv+laser/single20.png
研究/xuv_ir/ltximg/org-ltximg_24ea1c63218de02467fd7c8e4964fb2ad3a45950.png
研究/xuv_ir/ltximg/org-ltximg_65b396d6425353a97ccfdbc6a9bbaddec4a514ad.png
研究/xuv_ir/ltximg/org-ltximg_867883e6151f74a414e0a2c377332ae987731183.png
研究/xuv_ir/ltximg/org-ltximg_9ca5c8813076d3b18be66283a32666b4bf3c3446.png
研究/xuv_ir/figs/perturbation/non-re-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/2.1-2.2-10fs.png
研究/xuv_ir/figs/perturbation/2.1-2.2-10fs-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/non-re.png
研究/xuv_ir/figs/perturbation/non-re-per.png
研究/xuv_ir/figs/perturbation/non-re-per-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/sit1.png
研究/xuv_ir/figs/perturbation/sit2.png
研究/xuv_ir/figs/perturbation/sit3.png
研究/xuv_ir/figs/perturbation/sit4.png
研究/xuv_ir/figs/perturbation/sit4-NSConflict-honghuzi.png
研究/xuv_ir/figs/perturbation/sit5.png
研究/xuv_ir/figs/perturbation/sit5-NSConflict-honghuzi.png
研究/xuv_ir/figs/tdse-xuv+laser/0.png
研究/xuv_ir/figs/tdse-xuv+laser/0.25.png
研究/xuv_ir/figs/tdse-xuv+laser/1.png
研究/xuv_ir/figs/tdse-xuv+laser/1.5.png
研究/xuv_ir/figs/tdse-xuv+laser/1.6-1.66.png
研究/xuv_ir/figs/tdse-xuv+laser/1.70-1.76.png
研究/xuv_ir/figs/tdse-xuv+laser/2.5-2.7.png
研究/xuv_ir/figs/tdse-xuv+laser/eq-0.png
研究/xuv_ir/figs/tdse-xuv+laser/single.png
研究/xuv_ir/figs/tdse-xuv+laser/single20.png
研究/xuv_ir/ltximg/org-ltximg_24ea1c63218de02467fd7c8e4964fb2ad3a45950.png
研究/xuv_ir/ltximg/org-ltximg_65b396d6425353a97ccfdbc6a9bbaddec4a514ad.png
研究/xuv_ir/ltximg/org-ltximg_867883e6151f74a414e0a2c377332ae987731183.png
研究/xuv_ir/ltximg/org-ltximg_9ca5c8813076d3b18be66283a32666b4bf3c3446.png
